<img src="Logo.png" width="100" align="left"/> 

# <center> Unit 3 Project </center>
#  <center> Fourth section : Conclusion </center>


In this notebook you will be comparing the results of the two methods we used on the created testset. That is said: you will compare the results to the clustering with the results of the classification on the same test test and provide insights and explanation about the observed behaviour.

For this final task you will need to : 
1. Load the testset data that you created all along this project 
2. For each cluster provide percentages about each actual/ predicted class contained with this cluster. Eg : cluster NÂ°2 : is made of ( 50% class 2 and 50% class 3 ) from actual labels and ( 40 % predicted class 2 and 40% predicted class 3 + 20% predicted class 1) 
The above is just an example and is far away from the actual situation.

3. Explain the behaviour and provide isights about it

## 1.  Load the data:

In [1]:
import pandas as pd

In [2]:
# To-Do : load the test summary data 
df =pd.read_csv('test_summary.csv')

In [3]:
df.head()

,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster,Predicted_class
0,50.0,0.0,36.0,1.0,47.8,89.0,48.5,38.4,8.6,8.26,5.62,96.0,21.9,76.2,3.0,0
1,497.0,0.0,56.0,0.0,45.1,79.1,39.0,30.5,5.2,6.47,5.10,64.0,145.3,66.7,4.0,0
2,212.0,0.0,51.0,1.0,45.9,66.7,31.8,28.1,9.0,10.08,5.61,85.0,36.2,73.0,3.0,0
3,250.0,0.0,55.0,1.0,44.7,71.6,22.9,22.1,5.5,6.82,4.61,105.0,59.2,72.7,4.0,0
4,143.0,0.0,45.0,1.0,43.2,68.2,27.8,42.3,6.6,10.93,6.61,105.0,27.2,74.5,3.0,0

## 2. Analysis:

In [4]:
# To-Do create a summary about each cluster : 
# percentages of each target (actual Category) within each cluster 
# + Percentages of each predicted class within the cluster 
# results should be something like : 
# For clusterk : {'true_class0_percetage': 0.0,
#                 'true_class1_percetage': 0.0,
#                  'true_class2_percetage': 0.0,
#                   'true_class3_percetage': 0.0,
#                   'true_class4_percetage': 0.0,
#                   'predicted_class0_percetage': 0.0,
#                   'predicted_class1_percetage': 0.0,
#                   'predicted_class2_percetage': 0.0,
#                   'predicted_class3_percetage': 0.0,
#                    'predicted_class4_percetage': 0.0}

In [19]:
df[df.cluster==1]

,Unnamed: 0,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster,Predicted_class
23,23,610.0,4.0,59.0,0.0,39.0,51.3,19.6,285.8,40.0,5.77,4.51,136.1,101.1,70.5,1.0,4
43,43,606.0,4.0,42.0,0.0,33.0,79.0,3.7,55.7,200.0,1.72,5.16,89.1,146.3,69.9,1.0,4
66,66,597.0,4.0,56.0,1.0,23.0,105.6,5.1,123.0,43.0,1.80,2.40,62.7,35.9,62.8,1.0,4
75,75,609.0,4.0,58.0,0.0,34.0,46.4,15.0,150.0,8.0,6.26,3.98,56.0,49.7,80.6,1.0,4
121,121,558.0,2.0,51.0,1.0,43.0,37.2,21.4,132.8,5.0,10.12,5.23,76.2,76.4,76.7,1.0,2

In [29]:
df[df.cluster==0]

,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster,Predicted_class
20,592.0,4.0,46.0,1.0,35.0,109.6,2.3,19.2,11.0,7.10,4.10,1079.1,105.6,69.1,0.0,0
107,587.0,4.0,39.0,1.0,34.0,137.8,4.8,35.6,9.0,3.65,4.82,519.0,133.4,57.5,0.0,4

In [21]:
df[df.cluster==2]

,Unnamed: 0,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster,Predicted_class
5,5,559.0,2.0,56.0,1.0,37.0,114.0,27.8,324.0,67.0,5.75,3.09,97.7,392.2,77.3,2.0,4

In [22]:
df[df.cluster==3]

,Unnamed: 0,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster,Predicted_class
0,0,50.0,0.0,36.0,1.0,47.8,89.0,48.5,38.4,8.6,8.26,5.62,96.0,21.9,76.2,3.0,0
2,2,212.0,0.0,51.0,1.0,45.9,66.7,31.8,28.1,9.0,10.08,5.61,85.0,36.2,73.0,3.0,0
4,4,143.0,0.0,45.0,1.0,43.2,68.2,27.8,42.3,6.6,10.93,6.61,105.0,27.2,74.5,3.0,0
6,6,403.0,0.0,45.0,0.0,46.4,49.1,14.9,25.5,11.0,8.77,2.86,94.0,12.0,77.1,3.0,0
7,7,391.0,0.0,44.0,0.0,35.5,60.0,13.7,15.0,9.1,6.71,5.29,64.0,7.4,65.2,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,117,76.0,0.0,38.0,1.0,44.7,69.4,47.4,35.1,16.7,6.90,4.14,67.0,17.3,70.1,3.0,0
118,118,11.0,0.0,32.0,1.0,44.3,52.3,21.7,22.4,17.2,4.15,3.57,78.0,24.1,75.4,3.0,0
119,119,420.0,0.0,47.0,0.0,35.6,37.5,17.6,18.0,4.7,4.32,5.59,75.0,13.0,66.0,3.0,0
120,120,496.0,0.0,56.0,0.0,33.2,54.3,15.5,22.8,8.0,5.61,3.87,55.0,19.1,63.1,3.0,0
122,122,267.0,0.0,58.0,1.0,40.9,55.8,17.5,23.0,5.3,8.52,6.41,93.0,18.5,70.9,3.0,0

In [23]:
df[df.cluster==4]

,Unnamed: 0,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster,Predicted_class
1,1,497.0,0.0,56.0,0.0,45.1,79.10000,39.0,30.5,5.2,6.47,5.10,64.0,145.3,66.7,4.0,0
3,3,250.0,0.0,55.0,1.0,44.7,71.60000,22.9,22.1,5.5,6.82,4.61,105.0,59.2,72.7,4.0,0
13,13,195.0,0.0,50.0,1.0,40.0,87.80000,87.5,52.6,4.8,8.70,6.46,76.0,152.5,71.0,4.0,0
17,17,380.0,0.0,43.0,0.0,37.6,77.10000,8.3,15.9,12.5,8.37,4.49,73.0,68.9,67.1,4.0,0
28,28,284.0,0.0,61.0,1.0,34.3,60.50000,35.4,26.6,15.2,9.03,7.62,74.0,51.4,76.0,4.0,0
33,33,18.0,0.0,33.0,1.0,45.2,88.30000,32.4,31.2,10.1,9.78,5.51,102.0,48.5,76.5,4.0,0
37,37,614.0,4.0,46.0,0.0,33.0,68.28392,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0,4.0,4
38,38,206.0,0.0,50.0,1.0,42.2,145.00000,27.5,37.9,4.5,13.71,8.80,103.0,239.0,73.1,4.0,0
41,41,49.0,0.0,36.0,1.0,53.0,66.40000,40.8,23.2,7.5,8.73,5.81,75.0,36.1,77.3,4.0,0
50,50,145.0,0.0,45.0,1.0,46.4,77.00000,60.3,32.9,8.8,9.38,6.27,85.0,81.1,75.5,4.0,0
58,58,537.0,1.0,55.0,1.0,47.3,106.00000,208.8,130.6,0.8,14.80,8.08,76.0,71.6,78.3,4.0,3
68,68,539.0,1.0,74.0,1.0,20.3,84.00000,22.8,43.0,5.7,4.91,3.19,52.0,218.3,47.8,4.0,1
71,71,234.0,0.0,53.0,1.0,41.7,45.30000,23.2,25.1,10.8,5.68,5.78,119.0,114.9,67.9,4.0,0
72,72,583.0,3.0,51.0,0.0,37.0,68.28392,164.0,70.0,9.0,3.99,4.20,67.0,43.0,72.0,4.0,3
79,79,188.0,0.0,49.0,1.0,39.7,77.30000,20.2,19.0,8.8,7.26,4.98,84.0,74.5,65.4,4.0,0
83,83,65.0,0.0,37.0,1.0,33.9,64.00000,91.7,44.7,9.1,8.35,5.40,95.0,30.3,74.7,4.0,0
84,84,463.0,0.0,51.0,0.0,47.4,117.30000,62.1,30.4,3.8,10.43,6.59,86.0,69.3,71.0,4.0,0
89,89,570.0,3.0,49.0,1.0,46.0,68.28392,114.0,75.0,16.0,10.43,5.20,72.0,59.0,82.0,4.0,3
92,92,387.0,0.0,43.0,0.0,33.7,57.50000,15.1,24.8,6.9,7.91,5.37,71.0,46.0,68.4,4.0,0
98,98,79.0,0.0,38.0,1.0,38.3,81.50000,65.9,35.3,14.0,11.00,5.46,80.0,45.2,68.1,4.0,0
104,104,317.0,0.0,76.0,1.0,38.0,97.10000,28.6,33.1,14.1,4.83,5.56,90.0,117.6,73.8,4.0,0
105,105,564.0,2.0,61.0,0.0,50.0,34.40000,27.4,114.4,22.0,9.48,4.62,61.9,169.8,86.0,4.0,3
109,109,453.0,0.0,51.0,0.0,46.3,70.50000,75.2,69.2,6.1,7.68,4.73,69.0,52.2,78.3,4.0,0
112,112,46.0,0.0,36.0,1.0,41.7,77.20000,103.6,46.9,10.4,12.21,5.63,88.0,20.9,69.3,4.0,0
114,114,309.0,0.0,67.0,1.0,44.4,86.50000,25.2,27.3,9.1,8.85,6.43,88.0,77.2,74.8,4.0,0

## 3. Explanations and isights :

In [1]:
# in this section you should display analysis about each cluster and comment those one by one

## 4. Conclusion:

Explain your findings and provide reasons for the behaviour.